<app-topo></app-topo>
<div *ngIf="jogoEmAndamento; else endGame">
  <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #endGame >
  <div  class="container" style="margin-top:30px">
    <div class="row">
      <div class="col">
        <h3 style="{{mensagemEncerramento.color}}">{{mensagemEncerramento.message}}</h3>
        <button class="btn btn-primary" (click)="rebootGame()">Jogar Novamente</button>
      </div>
    </div>
  </div>
</ng-template>
