
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6">
        <h6>{{ instruction }}</h6>
        <app-progresso [progress]="progress"></app-progresso>
      </div>
      <div class="col-sm-6">
        <div class="d-flex justify-content-end">
          <app-tentativas [tentativas]="tentativas"></app-tentativas>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        
        <p>{{ rodadaFrase.eng }}</p>

        <div class="form-group">
          <textarea class="form-control" rows="3"   (input)="atualizaResposta($event)" [value]="resposta" ></textarea>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary" (click)="verificarResposta()">Shazam!</button>
        </div>
      </div>
    </div>
  </div>
</div>